<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
  <section class="footer_s1 wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <!--=======================-->
          <div class="f-block-1 maxheight">
            <div class="f-block-1_s1 text-1">Information</div>
            <ul class="f-block-1_s2 list">
              <li><a href="index-1.html">about us</a></li>
              <li><a href="index-4.html">contact us</a></li>
            </ul>
          </div>
          <div class="f-block-1 maxheight">
            <div class="f-block-1_s1 text-1">Services</div>
            <ul class="f-block-1_s2 list">
              <li><a href="index-2.html#roofing">roofing </a></li>
              <li><a href="index-2.html#windows">windows</a></li>
              <li><a href="index-2.html#siding">siding</a></li>
              <li><a href="index-2.html#painting">painting</a></li>
            </ul>
          </div>
          <div class="f-block-1 maxheight">
            <div class="f-block-1_s1 text-1">Follow us</div>
            <ul class="f-block-1_s3">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
            </ul>
          </div>
        <!--=======================-->
        </div>
      </div>
    </div>
  </section>
  <section class="footer_s2">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <!--=======================-->
          Montanus Inc. &copy; <span id="copyright-year"></span>
        <!--=======================-->
        </div>
      </div>
    </div>
  </section>
</footer>
