<header id="header">
  <section class="header-top">
      <div id="stuck_container"><div class="container">
        <div class="row">
          <div class="grid_12">
          <!--=======================-->
            <div class="header-top_s1">
              <ul>
                <li><h1><a href="./">731<span>ROOF.COM</span></a></h1></li>
                <li><div><a href="www.americanwindowandglass.com" style="padding: 5px;"><img src="images/gaf.jpg"></a><a href="http://www.bbb.org/cincinnati/business-reviews/roofing-contractors/chi-roofing-in-cincinnati-oh-90007887" style="padding: 5px;"><img src="images/bbb.png"></a><a href="" style="padding: 5px;"><img src="images/angieslist.png"></a>"</li>
                </ul>
            </div>
            <div class="header-top_s2">
              <nav>
                <ul doug>
                  <li class="current"><a href="#/">Home</a>
                  <li><a href="#/about">About</a></li>
                  <li><a href="#/services">Services</a></li>
                  <li><a href="#/contactus">Contacts</a></li>
                </ul>
              </nav>
            </div>
          <!--=======================-->
          </div>
        </div>
      </div></div>
  </section>
</header>
